.remove-action {
	cursor: pointer;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding-bottom: 80px;
	min-height: 200px;
	background-color: #FFF;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
}

.popup .controls {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	padding: 20px 0;
}

.remove-name {
	font-weight: 700;
}