{% extends "base.html" %}

{% block title%} {{ title }} {% endblock %}

{% block content%}
<div>
	<div>
		{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<form id="login-form" action="{{url_for('auth.login')}}" method="POST" class="card-body">
			<div class="form-group mb-3">
				<h1>Login</h1>
			</div>


			<div class="form-group mb-3">
				{{ form.username(class_="form-control",placeholder="Username")}}
			</div>

			<div class="form-group mb-3">
				{{ form.password(class_="form-control",placeholder="Password")}}
			</div>

			<input id="submit-form" type="submit" value="Submit" class="save">

			</p>

		</form>
	</div>
	<a href="{{url_for('index.index')}}">
		<button class="back">back</button>
	</a>
</div>
{% endblock %}