<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title%} {{ title }} {% endblock %}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	</head>

	{% block styles %}
	<body>
		{% block content%}
		{% endblock %}
		<script src="{{url_for('static', filename='main.js')}}"></script>
	</body>
	{% endblock %}
</html>
