{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}

{% block content%}
<script src="{{url_for('static', filename='jwt.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="daschboard">
	{% block daschboard_content%}{% endblock %}
</div>
{% endblock %}