{% extends "base_dashboard.html" %}
{% block title%} {{ title }} {% endblock %}

{% block daschboard_content%}
<h1>Dashboard</h1>
<p><strong>Username:</strong> {{current_user.name}}</p>

<ul>
	<li>
		<a href="{{url_for('control.users')}}">Users</a>
	</li>
</ul>

<a href="{{url_for('auth.logout')}}" class="btn btn-primary">Logout</a>
{% endblock %}
