{% extends "base_dashboard.html" %}
{% block title%} {{ title }} {% endblock %}

{% block daschboard_content%}
<h1>New User</h1>
<div id="info" style="display: none;"></div>
<form id="new-user-form">
	<p>
		<label for="username">Username:</label>
		<input type="text" name="name" id="name">
	</p>
	<p>
		<label for="email">E-Mail:</label>
		<input type="text" name="email" id="email">
	</p>
	<p>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password">
	</p>
	<p>
		<input type="submit" value="Save">
	</p>
</form>

<a href="{{url_for('control.users')}}" class="btn btn-primary">
	Back
</a>
<script src="/static/new_user.js"></script>
{% endblock %}