{% extends "base_dashboard.html" %}
{% block title%} {{ title }} {% endblock %}

{% block daschboard_content%}
<h1>Users</h1>

<table id="user-list" class="dashboard-list">
	<thead>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<a href="{{url_for('control.new_user')}}">
	New User
</a>

<a href="{{url_for('control.dashboard')}}">
	Back
</a>

<div id="remove-user-popup" class="overlay" style="display: none;">
	<div class="popup">
		<h2>Remove User</h2>

		<p>
			Do you wish to remove <span id="remove-user-name" class="remove-name"></span>?
		</p>

		<div class="controls">
			<a id="remove-user" href="#" class="btn btn-danger">
				Remove
			</a> 

			<a id="remove-user-cancel" href="#" class="btn btn-secondary">
				Cancel
			</a>
		</div>
	</div>
</div>
<script src="/static/users.js"></script>
{% endblock %}