{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div>
	<h1>Main</h2>
	<p>The Main Page</p>
	<a href="{{url_for('auth.login')}}">Login</a>
</div>
{% endblock %}